{{B_I_Z}}__VIEW: permissions.includes('{{B_I_Z}}__VIEW'),
{{B_I_Z}}__EDIT: permissions.includes('{{B_I_Z}}__EDIT'),
{{B_I_Z}}__DELETE: permissions.includes('{{B_I_Z}}__DELETE'),

{
  name: '{{comment}}',
  icon: 'ClockCircleOutlined',
  path: '/{{package}}/{{biz}}',
  access: '{{B_I_Z}}__VIEW',
  component: './{{Biz}}',
},