import React, { useRef } from 'react';
import { PageContainer } from '@ant-design/pro-layout';
import { ActionType, ProColumns, ProTable } from '@ant-design/pro-components';
import api from '@/api';
import { Button, message, Popconfirm } from 'antd';
import {{
  biz_name_upper
}}EditModal from '@/pages/';
import { useAccess } from '@@/plugin-access';

export default function Page() {
  const access = useAccess();
  const actionRef = useRef<ActionType>();
  const getTableData = async (params: any) => {
    return api.{{biz_name}}.page(params);
  };
  const columns: ProColumns<API.{{biz_name_upper}}>[] = [
    { dataIndex: 'id', title: 'ID', search: false, hidden: true },
    { dataIndex: 'id', title: 'ID', width: 100, search: false },
    {
      dataIndex: 'id',
      title: '操作',
      valueType: 'option',
      fixed: 'right',
      width: 100,
      render: (text, record, _, action) => {
        return [
          access.{{ biz_all_upper }}__EDIT && <{{ biz_name_upper }}EditModal id={record.id} key="edit"
                                                                             onFinished={() => actionRef.current?.reload()}
          >
            <a>编辑</a>
          </{{ biz_name_upper }}EditModal>,
          access.{{ biz_all_upper }}__DELETE && <Popconfirm
            key="delete"
            title={`确定删除吗？`} onConfirm={async () => {
            await api.{{biz_name}}.deleteById({ id: record.id });
            message.success('删除成功');
            action.reload();
          }}>
            <a key="delete">删除</a>
          </Popconfirm>,
        ];
      },
    },
  ];
  return (
    <PageContainer>
      <ProTable
        rowKey="id"
        search={false}
        actionRef={actionRef}
        toolbar={{
          actions: [
            access.{{ biz_all_upper }}__EDIT &&
            <{{ biz_name_upper }}EditModal key="create" onFinished={() => actionRef.current?.reload()}>
              <Button type="primary">新建</Button>
            </{{ biz_name_upper }}EditModal>,
          ],
        }}
        size='small';
        scroll={{ x: 1000 }};
        columns={columns};
        request={getTableData}
      ></ProTable>;
    </PageContainer>
  );
}
