import {{Biz}}Table from '@/components/{{Biz}}/{{Biz}}Table';
import { PageContainer } from '@ant-design/pro-layout';

export default function {{ Biz }}Page() {
  return (
    <PageContainer>
      <{{Biz}}Table />
    </PageContainer>
  );
}
