import api from '@/api';
import { ModalForm, ProFormText } from '@ant-design/pro-form';
import { message } from 'antd';
import React from 'react';

type {{Biz}}EditModalProps = {
  id?: number;
  children?: React.ReactNode;
  onFinished?: () => void;
};
const {{Biz}}EditModal = (props: {{Biz}}EditModalProps) => {
  const onFinish = async (formData: any) => {
    await api.{{biz}}.save(formData);
    message.success('保存成功');
    props.onFinished?.();
    return true;
  };

  const getInitialValues = async () => {
    let {{biz}} = {};
    if (props.id) {
      {{biz}} = await api.{{biz}}.getById({ id: props.id });
    }
    return {{biz}};
  };
  return (
    <ModalForm
      title={props.id ? '编辑{{ comment }}' : '新建{{ comment }}'}
      modalProps={ {
        destroyOnClose: true,
      }}
      request={getInitialValues}
      params={ { id: props.id }}
      trigger={props.children}
      onFinish={onFinish}
    >
      <ProFormText name="id" label="ID" hidden />
    </ModalForm>
  );
};

export default {{Biz}}EditModal;
